.boton-container{
    display: flex;
}

button{
    width: 200px;
    height: 60px;
    padding: 10px 30px;
    margin: 20px 0;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
}

.boton-click{
    background-color: red;
}

.boton-reset{
    background-color: blue;
}